
/*css for index*/

/*sets the backgroud color for all the website + no margin*/
body {
    margin: 0;
    background-color: antiquewhite;
}

/*Defines a font for all the h1 in the website*/
h1 {
    font-family: 'Cinzel';
}

@font-face {
    font-family: 'Cinzel';
    src: url(./cinzel/cinzel-regular.otf);
}

/*specific code for header area title + logo*/
.header1 {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    height: 80px;
    z-index: 10; /*I learned how to use this with chat gpt look at the screenshogt of the chat in the photos folder: Screenshot 2025-03-19 at 5.51.40 p.m.png.*/
}

/*title*/
.title1 {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0px;
}

/*palm tree logo*/
.logo {
    position: absolute;
}

/*define size and position of palm tree*/
.logo img {
    height: 65px;
    width: auto;

}

/*creates the navbar greenbox with different text*/
.navbar {
    position: fixed;
    width: 100%;
    background-color: rgb(135, 133, 104);
    text-align: center;
    padding: 10px;
    word-spacing: 50px;
    box-sizing: border-box;
    top: 80px;
    z-index: 10;
}

/*text inside navbar*/
.navbar a {
    display: inline-block;
    color: antiquewhite;
    text-decoration: none;
    font-size: 20px;
}

/*hover for text inside navbar*/
.navbar :hover {
    color: rgb(213, 204, 171);
}

/*introductory parragraph*/
.info {
    margin-top: 200px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    font-size: 20px;
}

/*makes one row for images*/
.row {
    margin-top: 80px;
    display: flex;
    padding: 0 4px;
}

/*makes three columns for images*/
.column {
    flex: 33.33%;
    padding: 4px;
}
.column img {
    width: 100%;
}

/*bottom box for image + text*/
.infobox {
    padding: 80px;
    margin: 8px;
    background-color: rgb(53, 64, 36);
    color: antiquewhite;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  
  /*control the layout of both the text and image*/
  .footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  /*text settings*/
  .footer p {
    width: 40%;
    font-size: 40px;
    max-width: 200px;
  }
  
  /*image settings*/
  .footer img {
    width: 80%;
    max-height: 350px; /* Adjust as needed */
    object-fit: cover; /* This will maintain aspect ratio */
  }

  /*css for Accomodations*/

  /*makes a container that will create a grid with boxes*/
  .container1 {
    margin-top: 120px;
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }

  /*specifications for geberal box layout*/
  .container1 > div {
    background-color: rgb(53, 64, 36);
    color: antiquewhite;
    padding: 20px;
    font-size: 20px;
    text-align: left;
  }

  .container1 img {
    width: 100%;
    align-content: center;
  }

  .container1 p {
    font-family: 'Raleway';
    font-weight: 100;
  }

  /*css for About us*/

  /*layout for the whole abou page with an image as background*/
  .about {
    background-image: url(./photos/IMG_3121.jpg);
    background-size: cover;
    height: 100vh;
    margin: 8px;
    margin-top: 130px;
    color: antiquewhite;
    font-size: 25px;
    padding: 0.5px;
    padding-left: 10px;
    min-width: fit-content;
  }

  /*text inside the about page*/
  .about p {
    font-family: 'Raleway';
    font-weight: 100;
  }

  /*css for Dining*/

  /*parragraph describing the restaurant*/
  .food-text h2 {
    margin-top: 150px;
    color: black;
    text-align: center;
  }

  /*background where plates are going to be*/
  .food {
    background-color: #332c0f;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 180px;
    justify-content: center;
    align-items: center;
    
  }

  /*food transition*/
  .food-transition {
    margin-top: 150px;
   
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  /*set a transition that will rotate and change opacity*/
  .food-transition img{
    transition: transform 3s, opacity 3s;
    width: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*opacity controller*/
  .hidden {
    opacity: 0;
  }

  /*rotate controller*/
  .spin {
   transform: rotate(360deg); 
  }
  
  /*make a box to put the image of a restaurant*/
  .restaurant-style {
    padding: 20px;
    box-sizing: border-box;
    margin-left: 35px;
  }

  /*image of the restaurant*/
  .restaurant-style img{
    width: 100%;
    display: block;
  }

  /*css for Experiences*/

  /*make a photo slideshow which was copied from: https://www.w3schools.com/w3css/w3css_slideshow.asp*/
  .slideshow-container {
    display: flex;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  .slideshow {
    width: 300px;
  }

/*create two buttons to control the slideshow */
.button{
    font-size: 30px;
    background-color: #332c0f;
    color: antiquewhite;
    border-radius: 30px;
}
  /*left button*/
  .display-left {
    transform: translate(-365px);
  }

  /*right button*/
  .display-right {
    transform: translate(10px);

  }




